@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");
h1 {
  text-align: center;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 60vw;
  margin: auto;
  text-align: center;
  box-shadow: 6px 6px 6px gray;
  background: whitesmoke;
  border-radius: 1%;
}
.login button,
.btn-primary:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(58, 112, 219);
  cursor: progress;
  color: white;
  font-weight: bolder;
  padding: 10px;
  margin: 20px;
  border-radius: 10%;
  transition: 1s ease-in-out;
}
.btn-primary:hover svg {
  stroke-dashoffset: -480;
}
.btn-primary span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.end-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgba(44, 44, 44, 0.8);
}
.end-game label {
  color: rgb(12, 11, 11);
  font-size: 25px;
  font-weight: 100;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: center;
  align-items: center;
  height: 60vh;
  width: 50vw;
  background: white;
  box-shadow: 12px 12px 10px gray;
}
.from-group {
  justify-content: center;
}
.navbar {
  display: flex;
  box-shadow: 4px 4px 6px gray;
  justify-content: space-between;
  background: rgb(206, 204, 204);
}

.board {
  position: center;
  flex-direction: row;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 4px 4px 10px gray;
  margin: auto;
  margin-top: 15px;
  padding: 20px;
  width: 70vw;
  height: 80vh;
  background: rgb(206, 204, 204);
  border-radius: 1%;
}

.card {
  display: flex;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  padding: 10px;
  margin: 10px;
}

.card img {
  width: 120px;
  height: 120px;
  margin: auto;
}

.image-blank {
  background: url("./assets/img/memoryIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  width: auto;
  border-radius: 10%;
  box-shadow: 2px 2px 3px black;
  padding: 10px;
  margin: 10px;
}
