.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
}
.login {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 60vw;
  text-align: center;
  box-shadow: 6px 6px 6px gray;
  background: white;
}
.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(184, 187, 170);
  color: black;
  font-weight: bolder;
  padding: 10px;
  margin: 20px;
  border-radius: 10%;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.end-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: center;
  align-items: center;
  height: 60vh;
  width: 50vw;
  background: white;
  box-shadow: 12px 12px 10px gray;
}
.from-group {
  justify-content: center;
}
.navbar {
  display: flex;
  box-shadow: 4px 4px 6px gray;
  justify-content: space-between;
}

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 4px 4px 10px gray;
  margin: auto;
  width: 70vw;
  height: 80vh;
}

.card {
  display: flex;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  padding: 10px;
  margin: 10px;
}

.card img {
  width: 120px;
  height: 120px;
  margin: auto;
}

.image-blank {
  background: url("./assets/img/memoryIcon.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: auto;
  width: auto;
  border-radius: 10%;
  box-shadow: 2px 2px 3px black;
  padding: 10px;
  margin: 10px;
}
